header {
  height: 30px;
  background-color: darkblue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo img {
  height: 50px;
}

#expand-icon {
  height: 30px;
  cursor: pointer;
}

.login button {
  background-color: white;
  color: darkblue;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#nav-column {
  background-color: lightblue;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 70px;  /* Change this */
  left: 0;
  bottom: 0;
  z-index: 2;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

#nav-column.expanded {
  transform: translateX(0);
}

#nav-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#nav-column a {
  display: block;
  padding: 20px;
  color: white;
  text-decoration: none;
}

#right-column {
  padding: 70px 20px 20px 250px;
}
